<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__title">TODO LOGO</div>
                <div class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="http://127.0.0.1:8000/" class="nav__link">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://t.me/dnbdealer" class="nav__link">Telegram</a>
                        </li>
                        <li class="nav__item">
                            <a href="https://t.me/YurkovichBot" class="nav__link">Telegram Bot</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

    <main class="main">
        <div class="container">
            <div class="wrapper">
                <section class="task">
                    <div class="task__title">
                        <h2>Добавить задачу</h2>
                    </div>
                    <div class="task__body">
                        <div class="task__item task__name">
                            <input type="text" class="task__input" id="add-name" placeholder="Название">
                        </div>
                        <div class="task__item task__description">
                            <textarea class="task__textarea" id="add-description" placeholder="Описание"></textarea>
                        </div>
                        <div class="task__item task__deadline">
                            <input class="task__datetime" type="datetime-local" id="add-datetime">
                        </div>
                        <button class="task__button" type="button" onclick="createTask()">Создать задачу</button>
                    </div>
                </section>

                <section class="task">
                    <div class="task__title">
                        <h2>Изменить задачу</h2>
                    </div>
                    <div class="task__body">
                        <div class="task__item task__name task__id">
                            <input type="number" class="task__input" id="edit-id" placeholder="ID" oninput="loadTaskData()">
                            <input type="text" class="task__input" id="edit-name" placeholder="Название">
                        </div>
                        <div class="task__item task__description">
                            <textarea class="task__textarea" id="edit-description" placeholder="Описание"></textarea>
                        </div>
                        <div class="task__item task__deadline">
                            <input class="task__datetime" type="datetime-local" id="edit-datetime">
                        </div>
                        <div class="button_wrapper">
                            <button class="task__button task__button-edit" type="button" onclick="updateTask()">Изменить задачу</button>
                            <button class="task__button task__button-complete" type="button" onclick="markTaskAsCompleted()">Выполнено</button>
                        </div>
                    </div>
                </section>
            </div>

            <section class="task-list">
                <div class="task-list__title">
                    <h3>Список задач</h3>
                </div>
                <div class="task-list__body" id="task-list">
                    <!-- Задачи будут добавляться сюда -->
                </div>
            </section>
        </div>
    </main>


    <footer class="footer">
        <div class="footer__inner">
            <p>©️ Все права защищены.</p>
        </div>
    </footer>

    <script src="../static/main.js"></script>
</body>

</html>
